body{
    background-color:hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    height: 100vh;
}

#icon-star{
    width: 1.25rem;
    height: 1.25rem;
    padding: 1rem;
    /* border: 2px solid hsla(216, 10%, 30%, 0.508); */
    background-color: hsla(216, 10%, 30%, 0.492);
    border-radius: 50px;
}

#card{
    width: 90%;
    background-color:hsl(213, 19%, 18%);
    margin: 10rem 1px 1px;
    padding: 1rem 1rem;
    border-radius: 20px;
}

h1{
    color:white;
}

p{
    color:hsl(217, 12%, 63%);
}

#container-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

input[type="button"] {
    width: 50px;
    height: 50px;
    border: 2px solid hsla(216, 10%, 30%, 0.493);
    border-radius: 25px;
    color:hsl(217, 12%, 63%);
    background-color: hsla(216, 10%, 30%, 0.491);
    display: inline-block;
    font-size:1rem;
    
}


input[type="button"]:hover{
    color:hsl(0, 0%, 100%);
    background-color: hsl(27, 97%, 49%);
    cursor: pointer;
}

input[type="button"]:focus{
    color:hsl(0, 0%, 100%);
    background-color: hsl(60, 0%, 61%);
    cursor: pointer;
}


#submit-btn{
    width: 95%;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: .9rem;
    font-weight:400;
    /* font-weight: bold; */
    padding: 1rem 0;
    border: none;
    border-radius: 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    margin-bottom: 1rem;
    margin-left: .5rem;
}

#submit-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: rgb(249, 123, 5);
    cursor: pointer;
}

.modal {
  display: none;
  background-color:hsl(213, 19%, 18%);
  color:white;
  padding: 50px 20px;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.modal h2{
    width: 60%;
    color: orange;
    background-color:hsl(212, 13%, 30%);
    padding: .5rem 0;
    border-radius: 20px;
    text-align: center;
    font-size: .9rem;
    margin: 0 auto;
    
}
.modal h1{
    padding-left: 70px;
}

.modal p{
    text-align: center;
}

.modal img{
    margin: 0 0 0 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    #card{
        width: 50%;
    }
    .modal{
        width: 50%;
        margin: auto;;
    }
    .modal img{
        margin:0 0 0 100px;
    }
    .modal h1{
        padding-left: 100px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

    main{
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-content: center;
        align-items:baseline;
    }
    #card{
        width: 25%;
        padding: 2rem;
    }

    #submit-btn{
        margin-bottom: 0;
    }
    .modal{
        width: 25%;
        margin: auto;
        padding: 2rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        
    }
    .modal img{
        margin:0 0 0 100px;
    }
    .modal h1{
        padding-left: 100px;
        margin-bottom: 0;
    }

    .modal h2{
        width: 80%;
        text-align: center;
        padding: .5rem 0;
        margin: auto;
    }

    .modal p{
        line-height: 1.5rem;
        padding: 1rem;
        text-align: center;
        font-size: 1rem;
        margin:0;
    }
 } 
